.task-title {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--task-title-background);
    border-radius: 10px;
}

.task-title-name {
    font-weight: bold;
    color: var(--task-title-name);
    margin-right: 10px;
}

.task-title-counter {
    color: var(--task-title-counter);
}

.task-item-selected:before {
    content: '→';
    color: var(--task-item-selected);
    margin-right: 10px;
}

.task-item-selected-edit:before {
    color: var(--task-item-selected-edit);
}

input {
    border: none;
    background: transparent;
    outline: none;
    color: var(--task-title-input);
    font-family: Consolas;
    font-size: 15px;
    margin: 0px;
    padding-right: 10px;
    border-radius: 10px;
    margin: 0px;
    font-weight: bold;
}
