@page "/"
@using Taskless.Libraries.Models;
@using Toolbelt.Blazor.HotKeys2;

<div class="task-app">
    <div class="task-container">
        @if (this.Groups is not null)
        {
            @foreach (var taskGroup in Groups)
            {
                <TaskGroup Group="taskGroup" />
            }
        }
    </div>
</div>


